/*  ====================================== из примера =========================*/
:root {
    --header-height: 40px;      /* 100px*/
    --body-border: 5px;
    --left-width: 90px;       /*70px;*/
    --right-width: 350px;
}
html, body {
	height: 100%;
	font-size: 100%;
}
body {
    background: #fefefe;
    margin: 0;
    padding: var(--body-border);
}
.header {
    min-width: 240px;
	width: 100%;
	height: var(--header-height);
	background: #74C9FF;
}

#wrapper {
    padding: var(--body-border) 0;
    height: calc(100% - var(--header-height) - 2 * var(--body-border));
    position: relative;
}
.maxw {
	min-width: 240px;
}
#left {
	height: 100%;
	width: var(--left-width);
	display: inline-block;
    background: Moccasin;  /* Зеленые тога SpringGreen	#00FF7F	0, 255, 127   желтые тона Moccasin	#FFE4B5	255, 228, 181/Khaki	#F0E68C	240, 230, 140//Orange	#FFA500	255, 165, 0 */
}
#middle {
    display: inline-block;
    vertical-align: top;
	overflow-x: auto;
	background: MintCream;  /* белые тона MintCream	#F5FFFA	245, 255, 250 */ /* Серые тона Silver	#C0C0C0	192, 192, 192*/
	width: calc(100% - var(--right-width) - var(--left-width) - 1 * var(--body-border));
	height: 100%;
}
#right {
    vertical-align: top;
    bottom: var(--body-border);     /*height: 100%;*/
    width: var(--right-width);
    position: absolute;
    right: 0;
    top: var(--body-border);   /*5px*/
    background: Ivory;    /* Белые тона Ivory	#FFFFF0	255, 255, 240*/
	overflow: auto;

}
/* table { display: block; overflow-y: auto;overflow-x: hidden; white-space: nowrap; }  */
 

table {
     border-collapse: collapse; /* Отображать двойные линии как одинарные */
	 font-size:90%; 
}
td, th {
     border: 1px solid #800; /* Параметры границы */
     padding: 2px; /* Поля в ячейках */
	 
}
/*=============================== Меню ========================================== */

#table_m {
	width:100%;
	left:30%;
	background: Moccasin; /*Blue Цвет фона таблицы Moccasin	#FFE4B5	255, 228, 181 */
    color: BLACK ;  /* Цвет текста */
    border-spacing: 0px; /* Расстояние между ячейками */
	bordercolor:BLACK;
	text-align: center;
	font-size: 1.5em;

}	
#td_m {
	text-align: center;
	width: 20%;
	height: 40px;

}
.Default 
{
    font-family:Verdana; /**/
    font-size:20px; 
    color:#000000; 
    cursor: hand; 
}
.Default2 
{
    background: DarkKhaki; /*MidnightBlue  Khaki	#F0E68C	240, 230, 140*/
    cursor: hand; 
}

/* ниже из теста*/
.zagolovok_test{
	     font-size:30px;
		 line-height: 80%;
}
.vopros_test {
		font-size:40px;
		line-height: 95%;
		text-align: left;
}
.variant_vopros {
		font-size:30px;
		text-align:left;
		line-height: 90%;
}
.otvet_test {
	    font-size:27px;
		line-height: 20%;
}
.fieldInput{
		width: 9%; /* Ширина поля в пикселах */
		line-height: 10%;
}
p,span, input {
		font-size:20px;
}

button{
    font-size:18px;
}
#vo {
    color:green;
}
#von {
    color:Blue;
}
#nvo {
    color:red;
}
#ot {
    color:blue;
}

#tbl_temi {
	width:100%;
	left:30%;
	background: LightCyan; /*Blue Цвет фона таблицы Moccasin	#FFE4B5	255, 228, 181 */
    color: BLACK ;  /* Цвет текста */
    border-spacing: 0px; /* Расстояние между ячейками */
	bordercolor:BLACK;
	text-align: center;
	font-size: 1.2em;

}	
#tdtemi {

}
.inline {					/* для расположения кнопок рядом*/
   display:inline-block;
   margin-right:20px;		/* расстояние между кнопками*/
}
/* Для отображения на устройствах меньше 980px*/        
    
